#banner{
    display: flex; 
    flex-flow: row; 
}

#title{
    font-size: 9em;
    margin-bottom: -15px;
    margin-top: 5px;   
    margin-left: 50px;
    color: lightgrey; 
}

.navbar{
    background-color: darkgreen; 
    overflow: hidden; 
    margin: 0px; 
    padding: 0px;  
}

.navbar a{
    text-align: center; 
    color: black; 
    text-decoration: none; 
    font-size: 17px;  
    padding: 10px;
    margin: 0;  
    float: left; 
    width: 16em; 
}

.navbar a:hover{
    background-color: #080; 
    color: lightgrey; 
}

.navbar a.active{
    background-color: black; 
    color: lightgrey; 
}

.navbar form{
    color: black; 
    text-decoration: none; 
    font-size: 17px; 
    padding-top: 10px; 
    padding-bottom: 0px; 
    padding-right: 5px; 
    float: right; 
}

.navbutton{
    border: none; 
    text-align: center; 
    font-size: 16px; 
    border-radius: 4px; 
    padding: 5px; 
    margin: 5px; 
}

body{
    margin: 0px; 
    padding: 0px;
    font-family: Brush Scipt MT, Brush Script Std, cursive; 
    background-image: url("background.jpg"); 
}